/* ============================== HOME ============================== */
/* HOME SPINNING TXT */
#spin1 {
    font-family: 'GrandSlang-B-Side';
    font-size: 6vw;
    color: $black;}

#spin1:after {
    content:"";
    animation: spin1 5s linear infinite;}

@keyframes spin1 {
    0% { content:"Graphic ";}
    50% { content:"Photographer";}
    100% { content:"Web ";}}

#spin2 {
    font-family: 'GrandSlang-Italic';
    font-size: 6vw;
    color: $black;}

#spin2:after {
    content:"";
    animation: spin2 5s linear infinite;}

@keyframes spin2 {
    0% { content:"designer";}
    50% { content:" ";}
    100% { content:"designer";}}



/* HOME DRAGGABLE ITEMS */
.misc_1--dark {
    position: absolute;
    z-index: 1;
    width: 10%;
    height: auto;
    inset:600px auto auto 80px;}

.misc_2--dark {
    position: absolute;
    z-index: 1;
    width: 10%;
    height: auto;
    inset:100px auto auto 300px;
    transform: rotate(-25deg);}

.misc_3--dark {
    position: absolute;
    z-index: 1;
    width: 10%;
    height: auto;
    inset:600px auto auto 2100px;}

.misc_4--dark {
    position: absolute;
    z-index: 1;
    width: 10%;
    height: auto;
    inset:100px auto auto 2000px;
    transform: rotate(25deg);}

.misc--hover:hover {
    transform: scale(1.11);
    transition-duration: 1s;}
    
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { }

// Large devices (desktops, 992px and up)
@media (min-width: 992px) { }

// X-Large devices (large desktops, 1200px and up)
@media (min-width: 1200px) {
}


// XX-Large devices (larger desktops, 1400px and up)
@media (min-width: 1400px) { 
    .misc_1--dark {
    position: absolute;
    z-index: 1;
    width: 20%;
    height: auto;
    inset:350px auto auto 50px;}

.misc_2--dark {
    position: absolute;
    z-index: 1;
    width: 20%;
    height: auto;
    inset:-130px auto auto 250px;
    transform: rotate(-25deg);}

.misc_3--dark {
    position: absolute;
    z-index: 1;
    width: 20%;
    height: auto;
    inset:300px auto auto 1100px;}

.misc_4--dark {
    position: absolute;
    z-index: 1;
    width: 20%;
    height: auto;
    inset:-100px auto auto 920px;
    transform: rotate(50deg);}
}

// XXX-Large devices (larger desktops, 1920px and up)
@media (min-width: 1920px) {
    .misc_1--dark {
    position: absolute;
    z-index: 1;
    width: 10%;
    height: auto;
    inset:600px auto auto 80px;}

.misc_2--dark {
    position: absolute;
    z-index: 1;
    width: 10%;
    height: auto;
    inset:150px auto auto 300px;
    transform: rotate(-25deg);}

.misc_3--dark {
    position: absolute;
    z-index: 1;
    width: 10%;
    height: auto;
    inset:600px auto auto 2100px;}

.misc_4--dark {
    position: absolute;
    z-index: 1;
    width: 10%;
    height: auto;
    inset:100px auto auto 2000px;
    transform: rotate(25deg);}
}